.banner-container{
    background: url(../../../images/banner.webp) no-repeat fixed center;
    background-size: cover;
}
.custom{
    display: flex;
    justify-content: center;
    align-items: center;
}
